*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
}
header{
  display: fixed;
  left: 0;
  top: 0;
  width: 20%;
}
.container{
  margin-top: 70px;
}
a{
  text-decoration: none;
}

.popup{
  position: absolute;
  display: none;
  z-index: 4;
  width: 50%;
  height: 50%;
  top: 20%;
  margin: 0 auto;
  background-color: wheat;
  border-radius: 30px;
}
#mentor-table{
  cursor: pointer;
}
#mentor-table:hover{
  opacity: 0.3;
  background-color: grey;
}
#nav{
  background-color: red;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}
#inputGroupSelect01{
  position: absolute;
  right: 20%;
}
.label{
  position: absolute;
  right:30%;
}